body {
  background: #ededed;
  font-family: Arial;
}

section#timeline-container {
  margin: 0 auto;
  width: 80%;
}

section#timeline-container .timeline-list {
  list-style-type: none;
  margin: 0;
  counter-reset: li-counter;
}

section#timeline-container .timeline-list>li {
  position: relative;
  padding: 0 0 40px 55px;
  margin-top: -10px;
}

section#timeline-container .timeline-list>li:first-child {
  margin-top: 0;
}

.timeline-list li {
  position: relative;
}

.timeline-list>li:before {
  position: absolute;
  left: -33px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #676767;
  content: counter(li-counter);
  counter-increment: li-counter;
  text-align: center;
  line-height: 50px;
  font-size: 20px;

}

.timeline-list .add-timeline {
  width: 0;
}

.timeline-list .add-timeline:before {
  content: "+";
  background: #ededed;
  border: 2px solid #224A75;
  color: #676767;
  font-size: 40px;
  cursor: pointer;
}

.timeline-list .add-timeline:hover:before {
  background: #224A75;
  color: #fff;
}

.timeline-list .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -23px;
  height: 100%;
}

.timeline-list>li:not(:first-child) {
  margin-top: 0;
}

section#timeline-container .timeline-list li h3 {
  margin: 0;
  color: #6D6D6D;
  font-weight: normal;
  cursor: move;
  font-size: 30px;
  padding-top: 10px;
  margin-left: -90px;
  padding-left: 90px;
  position: relative;
  z-index: 2;
}

.circle {
  fill: #676767;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.dotted-line {
  width: 2px;
  position: absolute;
  height: 100%;
  left: 14px;
  z-index: -2;
  fill: red;
}

.dotted-line line {
  stroke: #676767;
  stroke-width: 8;
  stroke-linecap: square;
  stroke-dasharray: 1, 12;
}

.timeline-list ol {
  min-height: 40px;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.timeline-item.sortable-chosen {
  background: #e8e8e8;
}

.timeline-list .timeline-sub-item .move,
.timeline-list .timeline-sub-item .fa-trash {
  position: absolute;
  color: #A5A5A5;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-list .timeline-sub-item .move {
  left: -48px;
  cursor: move;
  width: 40px;
  height: 40px;
}

.move path {
  fill: #A5A5A5;
}

.timeline-list .timeline-sub-item .fa-trash {
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

.timeline-list .timeline-sub-item {
  border-radius: 4px;
  background: #fff;
  width: 465px;
  padding: 15px;
  margin-bottom: 10px;
}

.timeline-sub-item .title {
  font-size: 18px;
  color: #224A75;
  letter-spacing: 1.1px;
}

.timeline-sub-item .status-container {
  color: #676767;
  font-size: 13px;
  margin-top: 5px;
}

.timeline-sub-item .status-container .status {
  font-style: italic;
}

.modal-test {
  width: 400px;
}

.modal-test .modal-header {
  background: #224A75;
  color: #fff;
  text-align: center;
  border-radius: 6px 6px 0 0;
  border: 0;
}

.modal-test button.close {
  opacity: 1;
  color: #fff;
  text-shadow: none;
  font-size: 40px;
  font-weight: lighter;
  float: none;
  position: absolute;
  top: 0;
  right: 5px;
}

.modal-test .modal-content {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  position: relative;
}

.modal-test .modal-body {
  background: #fff;
  border: 0;
}

.modal-test .modal-footer {
  background: #fff;
  border: 0;
  border-radius: 0 0 6px 6px;
  text-align: center;
}

.modal-test ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.modal-test ul li {
  text-align: center;
  margin-bottom: 5px;
}

.modal-test ul li a {
  color: #676767;
}

h4.modal-title {
  font-size: 30px;
}

.modal-subtitle {
  font-size: 14px;
}

.add-subitem {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #224A75;
  color: #676767;
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}
